/*common start*/
body{
    /*font-family: ;*/
    font-size: 16px;
    font-weight: 400;
    color: #3f3d56;
}
/*common end*/

header{

}
.container {

}

.logo {

}
.logo img{}

.menu {

}
.menu ul{
}
.menu ul li{
}
.menu ul li a{
}